@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.card-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: stretch;
   font-family: 'Merienda One', cursive;
   
   
}